<template>
  <div>
      <h1 class="display-3">Bienvenido</h1>
      <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>

      <recent-posts-component :size="'sm'"></recent-posts-component>

      <hr>
  </div>
</template>

<script>
import RecentPostsComponent from './posts/partials/RecentPostsComponent'
export default {
    components: { RecentPostsComponent }
}
</script>

<style lang="css" scoped>
</style>
