<template>
    <div class="jumbotron">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-10 text-center">
                    <h2>404</h2>
                    <p>Está página no existe</p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
}
</script>

<style lang="css" scoped>
</style>
